// Fonts
//   Only the fallback fonts SourceSansPro and PTSerif (OFL-fonts) are distributed 
//   with this package, since CrimsonText and BrandonText are proprietary.
@import "fonts";

// Variables
@import "./fhi-felles/variables.bootstrap-color-reset";
@import "./fhi-felles/variables.colors";
@import "./fhi-felles/variables.color-aliases";
@import "./fhi-felles/variables.spacers-and-height-width";
@import "./fhi-felles/variables.grid";
@import "./fhi-felles/variables.typography";
@import "./fhi-felles/variables.buttons";
@import "./fhi-felles/variables.forms";

// Mixins
@import "./fhi-felles/mixins/svg.mixins";
@import "./fhi-felles/mixins/button.mixins";
@import "./fhi-felles/mixins/form.mixins";

// Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap/buttons";
@import "./bootstrap/containers";
@import "./bootstrap/custom-forms";
@import "./bootstrap/forms";
@import "./bootstrap/checkbox";
@import "./bootstrap/radio";
@import "./bootstrap/pagination";

// FHI-basic
@import "./fhi-felles/backdrops";
@import "./fhi-felles/keyboard-focus";
@import "./fhi-felles/typography";
@import "./fhi-felles/color-utilities";

// FHI-sidemaler
@import "./fhi-felles/sidemaler/fhi-app.block";

// FHI-komponenter
@import "./fhi-felles/komponenter/fhi-btn-flat.block";
@import "./fhi-felles/komponenter/fhi-btn-outline-primary.block";
@import "./fhi-felles/komponenter/fhi-btn-outline-secondary.block";
@import "./fhi-felles/komponenter/fhi-btn-primary.block";
@import "./fhi-felles/komponenter/fhi-btn-secondary.block";
@import "./fhi-felles/komponenter/fhi-btn-shortcut.block";
@import "./fhi-felles/komponenter/fhi-main-menu.block";
@import "./fhi-felles/komponenter/fhi-spinner-border.block";
