/**
 * Color aliases
 */

$fhi-brand-color: $fhi-blue-dark-1;

$fhi-bg-color-1:  $fhi-white;
$fhi-bg-color-2:  $fhi-grey-light-1;
$fhi-bg-color-3:  $fhi-grey-light-2;
$fhi-bg-color-4:  $fhi-grey-light-3;
$fhi-bg-color-5:  $fhi-grey-light-4;
$fhi-bg-color-6:  $fhi-blue-grey-1;
$fhi-bg-color-7:  $fhi-blue-grey-2;
$fhi-bg-color-8:  $fhi-blue-grey-1;

$fhi-disabled-color: $fhi-grey-2;
$fhi-disabled-color-inverse: $fhi-grey-1;

$fhi-text-ancillary:         $fhi-grey-3;
$fhi-text-ancillary-inverse: $fhi-grey-1;
$fhi-text-error-inverse:     $fhi-pink-dark-1;

$fhi-main-menu-xs-color:        $fhi-white;
$fhi-main-menu-xl-color:        $fhi-grey-4;
$fhi-main-menu-xl-active-color: $fhi-red-2;
$fhi-main-menu-xl-hover-color:  $fhi-red-2;

$fhi-custom-control-color: $fhi-charcoal-1;
$fhi-custom-control-shadow-color: lighten($fhi-grey-4, 65%);
