/**
 * Spacing and spacers
 */

$fhi-px: 1rem/16; // px to rem utility

$fhi-space-1: $fhi-px *  4; // xxs
$fhi-space-2: $fhi-px *  8; // xs
$fhi-space-3: $fhi-px * 16; // sm
$fhi-space-4: $fhi-px * 24; // md
$fhi-space-5: $fhi-px * 32; // lg
$fhi-space-6: $fhi-px * 40; // xl
$fhi-space-7: $fhi-px * 56; // xxl
