/**
 * Typografi
 *
 * Variabler uten fhi-prefiks er Bootstrap-variabler
 */

// Font-størrelser
$fhi-font-size-1: $fhi-px * 15;
$fhi-font-size-2: $fhi-px * 17;
$fhi-font-size-3: $fhi-px * 19;
$fhi-font-size-4: $fhi-px * 21;
$fhi-font-size-5: $fhi-px * 25;
$fhi-font-size-6: $fhi-px * 30;
$fhi-font-size-7: $fhi-px * 36;
$fhi-font-size-8: $fhi-px * 44;
$fhi-font-size-9: $fhi-px * 70;

// Responsive verdier for headinger
//
// h1
$fhi-h1-font-size-xs:  $fhi-font-size-8;
$fhi-h1-font-size-lg:  $fhi-font-size-9;
// h2
$fhi-h2-font-size-xs:  $fhi-font-size-7;
// h3
$fhi-h3-font-size-xs:  $fhi-font-size-6;
// h4
$fhi-h4-font-size-xs:  $fhi-font-size-5;
// h5
$fhi-h5-font-size-xs:  $fhi-font-size-4;

// Responsive verdier for typografisk hierarki
//
// Liten tekst
$fhi-small-font-size-xs:  $fhi-font-size-1;
// Brødtekst
$fhi-default-font-size-xs:  $fhi-font-size-3; // Brødtekst er større på mobil
$fhi-default-font-size-lg:  $fhi-font-size-2;
// Ingress
$fhi-lead-font-size-xs:  $fhi-font-size-3;

// Serif fonts
$fhi-font-family-serif-regular: 'CrimsonText Regular', 'PTSerif Regular', serif;
$fhi-font-family-serif-regular-italic: 'CrimsonText Regular Italic', 'PTSerif Regular Italic', serif;
$fhi-font-family-serif-medium: 'CrimsonText Semi Bold', 'PTSerif Bold', serif;
$fhi-font-family-serif-medium-italic: 'CrimsonText Semi Bold Italic', 'PTSerif Bold Italic', serif;
$fhi-font-family-serif-bold: 'CrimsonText Bold', 'PTSerif Bold', serif;
$fhi-font-family-serif-bold-italic: 'CrimsonText Bold Italic', 'PTSerif Bold Italic', serif;

// Sans Serif fonts
$fhi-font-family-sans-serif-regular: 'BrandonText Regular', 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-2: 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-italic: 'BrandonText Regular Italic', 'SourceSansPro Regular Italic', sans-serif;
$fhi-font-family-sans-serif-medium: 'BrandonText Medium', 'SourceSansPro Semi Bold', sans-serif;
$fhi-font-family-sans-serif-medium-italic: 'BrandonText Medium Italic', 'SourceSansPro Semi Bold Italic', sans-serif;
$fhi-font-family-sans-serif-bold: 'BrandonText Bold', 'SourceSansPro Bold', sans-serif;
$fhi-font-family-sans-serif-bold-italic: 'BrandonText Bold Italic', 'SourceSansPro Bold Italic', sans-serif;

// Monospace font
$font-family-monospace: Consolas, "Liberation Mono", monospace;

// Div Bootstrap resets
$line-height-base: 1.5;
$input-btn-font-family: $fhi-font-family-sans-serif-regular-2;
