/**
 * Typography
 */

$fhi-font-size-1: $fhi-px * 15;
$fhi-font-size-2: $fhi-px * 17;
$fhi-font-size-3: $fhi-px * 19;
$fhi-font-size-4: $fhi-px * 21;
$fhi-font-size-5: $fhi-px * 25;
$fhi-font-size-6: $fhi-px * 30;
$fhi-font-size-7: $fhi-px * 36;
$fhi-font-size-8: $fhi-px * 44;
$fhi-font-size-9: $fhi-px * 70;

$fhi-h1-font-size-xs:  $fhi-font-size-8;
$fhi-h1-font-size-lg:  $fhi-font-size-9; // h1 larger on desktop
$fhi-h2-font-size-xs:  $fhi-font-size-7;
$fhi-h3-font-size-xs:  $fhi-font-size-6;
$fhi-h4-font-size-xs:  $fhi-font-size-5;
$fhi-h5-font-size-xs:  $fhi-font-size-4;

$fhi-small-font-size-xs:  $fhi-font-size-1;
$fhi-default-font-size-xs:  $fhi-font-size-3;
$fhi-default-font-size-lg:  $fhi-font-size-2; // body text smaller on desktop
$fhi-lead-font-size-xs:  $fhi-font-size-3;

$fhi-font-family-serif-regular: 'CrimsonText Regular', serif;
$fhi-font-family-serif-regular-italic: 'CrimsonText Regular Italic', serif;
$fhi-font-family-serif-medium: 'CrimsonText Semi Bold', serif;
$fhi-font-family-serif-medium-italic: 'CrimsonText Semi Bold Italic', serif;
$fhi-font-family-serif-bold: 'CrimsonText Bold', serif;
$fhi-font-family-serif-bold-italic: 'CrimsonText Bold Italic', serif;

$fhi-font-family-sans-serif-regular: 'BrandonText Regular', 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-2: 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-italic: 'BrandonText Regular Italic', 'SourceSansPro Regular Italic', sans-serif;
$fhi-font-family-sans-serif-medium: 'BrandonText Medium', 'SourceSansPro Semi Bold', sans-serif;
$fhi-font-family-sans-serif-medium-italic: 'BrandonText Medium Italic', 'SourceSansPro Semi Bold Italic', sans-serif;
$fhi-font-family-sans-serif-bold: 'BrandonText Bold', 'SourceSansPro Bold', sans-serif;
$fhi-font-family-sans-serif-bold-italic: 'BrandonText Bold Italic', 'SourceSansPro Bold Italic', sans-serif;
