/**
 * Buttons
 */

$fhi-btn-font-family-bold: $fhi-font-family-sans-serif-medium;

$fhi-btn-height: $fhi-px * 44;

$fhi-btn-padding-y: $fhi-px * 10;
$fhi-btn-padding-x: $fhi-px * 12;

$fhi-btn-sm-width: $fhi-px * 120;
$fhi-btn-md-width: $fhi-px * 170;
$fhi-btn-lg-width: $fhi-px * 280;
