/**
 * Buttons
 */

$fhi-btn-font-family-bold: $fhi-font-family-sans-serif-medium;

$fhi-btn-height-sm: $fhi-px * 48;
$fhi-btn-height-lg: $fhi-px * 40;

$fhi-btn-padding-tb-sm: $fhi-px * 14;
$fhi-btn-padding-tb-lg: $fhi-px * 10;
$fhi-btn-padding-lr-sm: $fhi-px * 12;
$fhi-btn-padding-lr-lg: $fhi-px * 12;

$fhi-btn-sm-width: $fhi-px * 120;
$fhi-btn-md-width: $fhi-px * 170;
$fhi-btn-lg-width: $fhi-px * 280;
