/**
 * Tables
 */

// Bootstrap overrides
$table-cell-padding: 1.5rem;
$table-cell-padding-sm: 0.5rem;
$table-accent-bg: $fhi-blue-grey-1;
$table-border-color: $fhi-grey-1;
$table-head-bg: red;
$table-striped-order: even;