/**
 * Tables
 */

// Bootstrap overrides
$table-cell-padding-x:  1.5rem;
$table-accent-bg:       transparent;
$table-border-color:    $fhi-grey-1;
$table-striped-bg:      $fhi-bg-color-6;
$table-striped-order:   even;