[class*="icon-"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    display: inline-block;
    height: $fhi-space-4;
    width: $fhi-space-4;
}

// generate classes with prefix .icon- using the $icons map, eg. .icon-chevron-expand
.icon {
    @include icon-classes-generator(); // (mixin)
}

.icon-white {
    filter: brightness(1000%); // sic
}

.icon-red {
    filter: $fhi-red-filter;
}

.icon-green {
    filter: $fhi-green-filter;
}

.icon-lg {
    height: $fhi-space-5;
    width: $fhi-space-5;
}
