.fhi-btn-menu-item {
    @include fhi-btn($fhi-white);
    padding-left: $fhi-space-3;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}


.fhi-btn-menu-item--active {
    &,
    &:focus,
    &:hover {
        @include fhi-btn($fhi-charcoal-1, $fhi-charcoal-1, $fhi-white, $fhi-charcoal-1);

        [class*="icon-"] {
            filter: brightness(100);
        }
    }

    &:focus-visible {
        box-shadow: $form-check-input-focus-box-shadow !important;
    }
}


@include media-breakpoint-up(md) {
    .fhi-btn-menu-item {
        height: $fhi-px * 60;
        padding-top: $fhi-space-4 - $fhi-space-1;
    }
}
