.fhi-btn-menu-item {
    @include fhi-btn($fhi-core-white);

    [class*='icon-'] {
        margin-left: ($fhi-core-space-2 * -1);
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.fhi-btn-menu-item--active {
    &,
    &:focus,
    &:hover {
        @include fhi-btn(
            $fhi-core-charcoal-1,
            $fhi-core-charcoal-1,
            $fhi-core-white,
            $fhi-core-charcoal-1
        );

        [class*='icon-'] {
            filter: brightness(100);
        }
    }

    &:focus-visible {
        box-shadow: $form-check-input-focus-box-shadow !important;
    }
}
