.fhi-btn-flat, // TODO: Deprecate fhi-btn-flat in v6.0.0
.fhi-btn-link {
    @include fhi-btn(transparent, transparent, $fhi-core-blue-1);
    border: 0;
    padding-right: $fhi-core-space-2;
    padding-left: $fhi-core-space-2;
    text-decoration: underline;
    text-decoration-thickness: 1px;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $fhi-core-red-2;
    }
}
