/**
  * Color aliases 
  */

$fhi-brand-color: $fhi-core-blue-3;

$fhi-bg-color-1: $fhi-core-white;
$fhi-bg-color-2: $fhi-core-grey-light-1;
$fhi-bg-color-3: $fhi-core-grey-light-2;
$fhi-bg-color-4: $fhi-core-grey-light-3;
$fhi-bg-color-5: $fhi-core-grey-light-4;
$fhi-bg-color-6: $fhi-core-blue-grey-2;
$fhi-bg-color-7: $fhi-core-blue-grey-2;
$fhi-bg-color-8: $fhi-core-blue-grey-2;

$fhi-disabled-color: $fhi-core-grey-3;
$fhi-disabled-color-inverse: $fhi-core-grey-1;

$fhi-text-ancillary: $fhi-core-grey-3;
$fhi-text-ancillary-inverse: $fhi-core-grey-1;
$fhi-text-error-inverse: $fhi-core-pink-light-1;

$fhi-main-menu-xs-color: $fhi-core-white;
$fhi-main-menu-xl-color: $fhi-core-grey-4;
$fhi-main-menu-xl-active-color: $fhi-core-red-2;
$fhi-main-menu-xl-hover-color: $fhi-core-red-2;

$fhi-inline-link-color: $fhi-core-blue-1;
$fhi-inline-link-hover-color: $fhi-core-red-2;
