.fhi-drawer {
    left: 0;
    min-height: 2rem;
    min-width: 5rem;
    overflow: hidden;
    top: 0;
    width: 100%;

    &__content {
        margin-left: -100%;
        max-height: 0;
        max-width: 100%;
        overflow-y: auto;
        padding-bottom: $fhi-space-2;
        transition: margin-left .3s, max-height .3s;
        width: 100%;

        .open & {
            margin-left: 0;
            max-height: 100vh;
        }
    }

    &__trigger {
        border: 0;
        font-family: $fhi-font-family-sans-serif-regular;
        margin: $fhi-space-1;
        padding: 0;
        text-decoration: none;

        &:focus,
        &:hover {
            background-color: transparent;
            text-decoration: none;
        }

        [class*="icon-"] {
            margin-right: $fhi-space-1;
        }
    }
}


@include media-breakpoint-up(md) {
    .fhi-drawer {
        position: relative;

        &__content {
            margin-left: -33vw;
            max-width: 33vw;
        }
    }
}


@include media-breakpoint-up(lg) {
    .fhi-drawer {
        position: relative;

        &__content {
            margin-left: -25vw;
            max-width: 25vw;
        }
    }
}
