.fhi-tag {
    background-color: $fhi-white;
    border-width: 0;
    border-radius: $fhi-tag-border-radius;
    display: inline-block;
    font-size: $fhi-tag-font-size;
    font-family: $fhi-font-family-sans-serif-regular;
    line-height: 1.25;
    padding: $fhi-tag-padding-y $fhi-tag-padding-x;
    transition: background-color .15s ease-in-out;
}

a.fhi-tag,
button.fhi-tag {
    text-decoration: none;

    &,
    &:hover {
        color: $body-color;
    }

    &:hover {
        background-color: $fhi-hover-2;
    }
}


.fhi-tag--category {
    border: 1px solid $fhi-grey-4;

    [class*="icon"] {
        background-position: left center;
        filter: $fhi-red-filter;
        height: $fhi-px * 16;
        position: relative;
        top: $fhi-px * 2;
        transition: filter .15s;
    }
}

a.fhi-tag--category {
    &:hover {
        [class*="icon"] {
            filter: none;
        }
    }
}


.fhi-tag--filter-option {
    /* https://kovart.github.io/dashed-border-generator/ */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='#{$fhi-px * 18}' ry='#{$fhi-px * 18}' stroke='black' stroke-width='1' stroke-dasharray='1%2c 4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");

    padding-right: $fhi-space-6;
    position: relative;

    [class*="icon-"] {
        background-size: $fhi-px * 12;
        height: $fhi-px * 16;
        position: absolute;
        right: calc(#{$fhi-space-2 + $fhi-space-1});
        top: 50%;
        transform: translateY(-50%);
        width: $fhi-px * 16;
    }
}
