.fhi-tag {
    background-color: $fhi-white;
    border: 1px solid transparent;
    border-radius: $fhi-tag-border-radius;
    display: inline-block;
    font-size: $fhi-tag-font-size;
    font-family: $fhi-font-family-sans-serif-regular;
    line-height: $fhi-px * 22;
    min-height: $fhi-px * 36;
    padding: $fhi-tag-padding-y $fhi-tag-padding-x;
    transition: background-color .15s ease-in-out;
}

a.fhi-tag,
button.fhi-tag {
    text-decoration: none;

    &,
    &:hover {
        color: $body-color;
    }

    &:hover {
        background-color: $fhi-hover-color-2;
    }
}


.fhi-tag--category {
    border-color: $fhi-grey-4;

    [class*="icon"] {
        background-position: left center;
        filter: $fhi-red-filter;
        height: $fhi-px * 16;
        position: relative;
        top: $fhi-px * 2;
        transition: filter .15s;
    }
}

a.fhi-tag--category {
    &:hover {
        [class*="icon"] {
            filter: none;
        }
    }
}


.fhi-tag--filter-option {
    border: 1px dashed $fhi-charcoal-1;
    padding-right: $fhi-space-6;
    position: relative;

    [class*="icon-"] {
        background-size: $fhi-px * 12;
        height: $fhi-px * 16;
        position: absolute;
        right: calc(#{$fhi-space-2 + $fhi-space-1});
        top: 50%;
        transform: translateY(-50%);
        width: $fhi-px * 16;
    }
}
