.fhi-tag-selector {
    display: inline-block;
    margin-right: $fhi-space-3;
    margin-bottom: $fhi-space-4;

    &__label {
        @extend .fhi-tag;
        border: 1px solid $fhi-grey-4;
        padding-right: $fhi-space-4;
        padding-left: $fhi-space-4;

        &:hover {
            background: $fhi-hover-2;
            cursor: pointer;
        }
    }

    &__input {
        @include visually-hidden;

        &:checked {
            ~ .fhi-tag-selector__label {
                background-color: $fhi-charcoal-1;
                color: $fhi-white;
                cursor: default;
            }
        }
    }
}
