.fhi-accordion-flush .accordion-button {
    &::before {
        background-color: $fhi-charcoal-1;
    }

    &::after {
        background-image: $fhi-accordion-button-icon-inverted;
    }
    
    &:hover {
        &::before {
            background-color: $fhi-hover;
        }
    
        &::after {
            background-image: var(--bs-accordion-btn-icon);
        }
    }
}
