.fhi-nav-shortcut {
    padding-left: $fhi-space-2;
    padding-right: $fhi-space-2;

    [class*="icon-"] {
        transform: rotate(180deg);
    }

    &:hover {
        text-decoration: none;
        border-color: transparent;

        &:not(.fhi-nav-shortcut--btn) {
            background-color: transparent;
        }

        .fhi-nav-shortcut__text {
            text-decoration: underline;
        }
    }
}


.fhi-nav-shortcut--back {
    [class*="icon-"] {
        filter: $fhi-red-filter;
        transform: rotate(0);
    }
}


.fhi-nav-shortcut--btn {
    @include fhi-btn($fhi-white, $fhi-grey-3);
    padding-right: $fhi-space-4;

    [class*="icon-"] {
        filter: $fhi-red-filter;
    }
}
