.fhi-pagination {
    [class*=icon-] {
        background-size: 1rem 1rem;
        filter: none;
    }

    &__page-item {
        order: -1;
    }
    
    &__page-item-number {
        text-shadow: 0 0 .75px currentColor;
    }
}
