.fhi-input-group {
    margin-bottom: $fhi-space-3;
}

@include media-breakpoint-down(sm) {
    .fhi-input-group {
        &__col-label {
            width: 100% !important;
        }

        &__col-form-control {
            display: flex;
            flex-direction: column;

            .form-text {
                display: inline-flex;
                order: -1;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .fhi-input-group {
        display: flex;
        
        &__col-label {
            margin-right: $fhi-space-3;
            max-width: 33.3%;
            padding-top: $fhi-space-1;
            width: $fhi-px * 180;

            .form-label {
                margin-bottom: 0;
            }
        }

        &__col-form-control {
            display: flex;
            flex-direction: column;
            flex: 1;

            .form-text {
                order: 1;
            }
        }
    }
}
