.fhi-pagination {
    [class*=icon-] {
        background-size: 1rem 1rem;
        filter: none;
    }
}

.fhi-custom-page-item {
    order: -1;

    &__number {
        text-shadow: 0 0 .75px currentColor;
    }
}
