/**
 * px to rem utility
 */

$fhi-px: 1rem/16;


/**
 * Spacing
 * - used for margin, padding, and also height and width
 */

$fhi-space-1: $fhi-px *  4; // xxs
$fhi-space-2: $fhi-px *  8; // xs
$fhi-space-3: $fhi-px * 16; // sm
$fhi-space-4: $fhi-px * 24; // md
$fhi-space-5: $fhi-px * 32; // lg
$fhi-space-6: $fhi-px * 40; // xl
$fhi-space-7: $fhi-px * 56; // xxl


/**
 * Grid
 */

$fhi-container-padding-xxs: $fhi-space-2;
$fhi-container-padding-xs: $fhi-space-3;
$fhi-container-padding-sm: $fhi-space-3; // TODO: remove in v4.0.0


/**
 * Typography
 */

$fhi-font-size-1: $fhi-px * 15;
$fhi-font-size-2: $fhi-px * 17;
$fhi-font-size-3: $fhi-px * 19;
$fhi-font-size-4: $fhi-px * 22;
$fhi-font-size-5: $fhi-px * 25;
$fhi-font-size-6: $fhi-px * 30;
$fhi-font-size-7: $fhi-px * 36;
$fhi-font-size-8: $fhi-px * 44;
$fhi-font-size-9: $fhi-px * 70;

$fhi-h1-font-size-xs:  $fhi-font-size-8;
$fhi-h1-font-size-lg:  $fhi-font-size-9; // h1 larger on desktop
$fhi-h2-font-size-xs:  $fhi-font-size-7;
$fhi-h3-font-size-xs:  $fhi-font-size-6;
$fhi-h4-font-size-xs:  $fhi-font-size-5;
$fhi-h5-font-size-xs:  $fhi-font-size-4;

$fhi-small-font-size-xs:  $fhi-font-size-1;
$fhi-default-font-size-xs:  $fhi-font-size-3;
$fhi-default-font-size-lg:  $fhi-font-size-2; // body text smaller on desktop
$fhi-lead-font-size-xs:  $fhi-font-size-3;

$fhi-font-family-serif-regular: 'CrimsonText Regular', serif;
$fhi-font-family-serif-regular-italic: 'CrimsonText Regular Italic', serif;
$fhi-font-family-serif-medium: 'CrimsonText Semi Bold', serif;
$fhi-font-family-serif-medium-italic: 'CrimsonText Semi Bold Italic', serif;
$fhi-font-family-serif-bold: 'CrimsonText Bold', serif;
$fhi-font-family-serif-bold-italic: 'CrimsonText Bold Italic', serif;

$fhi-font-family-sans-serif-regular: 'BrandonText Regular', 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-2: 'SourceSansPro Regular', sans-serif;
$fhi-font-family-sans-serif-regular-2-bold: 'SourceSansPro Bold', sans-serif;
$fhi-font-family-sans-serif-regular-italic: 'BrandonText Regular Italic', 'SourceSansPro Regular Italic', sans-serif;
$fhi-font-family-sans-serif-medium: 'BrandonText Medium', 'SourceSansPro Semi Bold', sans-serif;
$fhi-font-family-sans-serif-medium-italic: 'BrandonText Medium Italic', 'SourceSansPro Semi Bold Italic', sans-serif;
$fhi-font-family-sans-serif-bold: 'BrandonText Bold', 'SourceSansPro Bold', sans-serif;
$fhi-font-family-sans-serif-bold-italic: 'BrandonText Bold Italic', 'SourceSansPro Bold Italic', sans-serif;


/**
 * All colors used by FHI
 */

$fhi-white: white;
$white: $fhi-white; // DEPRECATED! Use $fhi-white

$fhi-grey-light-1: #fbfbfb;
$fhi-grey-light-2: #f7f6f5;
$fhi-grey-light-3: #f0edeb;
$fhi-grey-light-4: #e0dddb;

$fhi-grey-1: #cfd0cb;
$fhi-grey-2: #9f9f9f;
$fhi-grey-3: #767676;
$fhi-grey-4: #222222;

$fhi-charcoal-1: #333841;

$fhi-blue-grey-1: #edf4f7;
$fhi-blue-grey-2: #dbe6ec;
$fhi-blue-grey-3: #cbd9df;
$fhi-blue-grey-4: #afc0c7;
$fhi-blue-grey-5: #879ba5;
$fhi-blue-grey-6: #435c68;

$fhi-blue-light-1: #65adc3;
$fhi-blue-light-2: #057e9a;

$fhi-blue-1: #386e84;

$fhi-blue-dark-1: #393c61;
$fhi-blue-dark-2: #2e3152;
$fhi-blue-dark-3: #181B40;

$fhi-green-1: #cceee4;
$fhi-green-2: #04ab79;

$fhi-yellow-1: #fffdce;

$fhi-orange-1: #feeed9;
$fhi-orange-2: #f7b665;

$fhi-red-1: #fd7065;
$fhi-red-2: #d14641;
$fhi-red-3: #9f2b26;

$fhi-pink-dark-1: #fba39b;
$fhi-pink-dark-2: #e22867;
$fhi-pink-dark-3: #b10640;

$fhi-pink-light-1: #fdf4f2;
$fhi-pink-light-2: #faedec;
$fhi-pink-light-3: #ffe3e2;
$fhi-pink-light-4: #fad1cd;


/**
 * Color aliases
 */

$fhi-brand-color: $fhi-blue-dark-1;

$fhi-bg-color-1:  $fhi-white;
$fhi-bg-color-2:  $fhi-grey-light-1;
$fhi-bg-color-3:  $fhi-grey-light-2;
$fhi-bg-color-4:  $fhi-grey-light-3;
$fhi-bg-color-5:  $fhi-grey-light-4;
$fhi-bg-color-6:  $fhi-blue-grey-1;
$fhi-bg-color-7:  $fhi-blue-grey-2;
$fhi-bg-color-8:  $fhi-blue-grey-1;

$fhi-disabled-color: $fhi-grey-2;
$fhi-disabled-color-inverse: $fhi-grey-1;

$fhi-text-ancillary:         $fhi-grey-3;
$fhi-text-ancillary-inverse: $fhi-grey-1;
$fhi-text-error-inverse:     $fhi-pink-dark-1;

$fhi-main-menu-xs-color:        $fhi-white;
$fhi-main-menu-xl-color:        $fhi-grey-4;
$fhi-main-menu-xl-active-color: $fhi-red-2;
$fhi-main-menu-xl-hover-color:  $fhi-red-2;

$fhi-custom-control-color: $fhi-charcoal-1;
$fhi-custom-control-shadow-color: lighten($fhi-grey-4, 65%);

$fhi-hover:     $fhi-pink-dark-1;
$fhi-hover-2:   $fhi-pink-light-4;


/**
 * Color filter
 */

//calculations of #f86559 made at https://codepen.io/sosuke/pen/Pjoqqp
$fhi-red-filter: invert(58%) sepia(58%) saturate(4463%) hue-rotate(328deg) brightness(106%) contrast(94%);


/**
 * Buttons
 */

$fhi-btn-font-family-bold: $fhi-font-family-sans-serif-medium;

$fhi-btn-height: $fhi-px * 44;

$fhi-btn-padding-y: $fhi-px * 10;
$fhi-btn-padding-x: $fhi-px * 24;


/**
 * Forms
 */

$fhi-input-height-xs: $fhi-px * 48;
$fhi-input-height-lg: $fhi-px * 40;

$fhi-radio-checked-marker-radius: $fhi-px * 7; // the checked marker will be 14px in diameter


/**
 * Accordions
 */

 $fhi-accordion-visual-trigger-width: $fhi-px * 40;
 $fhi-accordion-visual-trigger-width-md: $fhi-px * 60;


 /**
  * Drawer
  */

$fhi-drawer-width-md: 40vw;
$fhi-drawer-width-xl: $fhi-px * 500;
$fhi-drawer-animation-speed: .3s;
