*:focus {
    box-shadow: none !important;
    outline: none;
}

*:focus-visible {
    box-shadow: $input-focus-box-shadow !important;

    .bg-dark & {
        box-shadow: 0 0 0 2px $fhi-white !important;
    }
}
