// SourceSansPro

@font-face {
    font-family: 'SourceSansPro Bold';
    font-weight: 700;
    font-style: normal;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro Bold Italic';
    font-weight: 700;
    font-style: italic;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro Semi Bold';
    font-weight: 600;
    font-style: normal;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro Semi Bold Italic';
    font-weight: 600;
    font-style: italic;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro Regular';
    font-weight: 400;
    font-style: normal;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro Regular Italic';
    font-weight: 400;
    font-style: italic;
    src:
        url('../fonts/SourceSansPro/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/SourceSansPro/SourceSansPro-Italic.woff') format('woff'),
        url('../fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}

// CrimsonText

@font-face {
    font-family: 'CrimsonText Bold';
    font-weight: 700;
    font-style: normal;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-700.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-700.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-700.ttf') format('truetype');
}
@font-face {
    font-family: 'CrimsonText Bold Italic';
    font-weight: 700;
    font-style: italic;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-700italic.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-700italic.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-700italic.ttf') format('truetype');
}
@font-face {
    font-family: 'CrimsonText Semi Bold';
    font-weight: 600;
    font-style: normal;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-600.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-600.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-600.ttf') format('truetype');
}
@font-face {
    font-family: 'CrimsonText Semi Bold Italic';
    font-weight: 600;
    font-style: italic;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-600italic.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-600italic.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-600italic.ttf') format('truetype');
}
@font-face {
    font-family: 'CrimsonText Regular';
    font-weight: 400;
    font-style: normal;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-regular.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'CrimsonText Regular Italic';
    font-weight: 400;
    font-style: italic;
    src:
        url('../fonts/CrimsonText/crimson-text-v11-latin-italic.woff2') format('woff2'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-italic.woff') format('woff'),
        url('../fonts/CrimsonText/crimson-text-v11-latin-italic.ttf') format('truetype');
}

