@mixin fhi-btn(
    $background-color,
    $border-color,
    $color,
    $font-family: $fhi-font-family-sans-serif-regular,
    $hover-bg: $fhi-pink-dark-1
) {
    background-color: $background-color;
    border-color: $border-color;
    box-shadow: none;
    color: $color;
    font-family: $font-family;
    text-decoration: unset;

    &:active,
    &:hover {
        background-color: $hover-bg;
        border-color: $border-color;

        @if (#{$background-color} == #{$border-color}) {
            border-color: $hover-bg;
        } @else {
            border-color: $border-color;
        }
    }
}

@mixin fhi-btn-dark {
    &,
    &:hover {
        background-color: $fhi-charcoal-1;
        border-color: $fhi-charcoal-1;
        color: $fhi-white;
    }
}
