.fhi-btn-flat-secondary {
  @include fhi-btn(transparent, transparent, $body-color);
  border: 0;
  font-family: $fhi-font-family-sans-serif-regular;
  padding: 0;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: transparent;
    text-decoration: none;
  }
}

