@mixin fhi-btn(
    $background-color,
    $border-color: $fhi-charcoal-1,
    $color: $fhi-charcoal-1
) {
    background-color: $background-color;
    border-color: $border-color;
    box-shadow: none;
    color: $color;
    text-decoration: unset;

    &:active,
    &:hover {
        border-color: $border-color;

        @if (#{$background-color} == #{$border-color}) {
            border-color: transparent;
        }
    }
}

@mixin fhi-btn-dark {
    background-color: $fhi-charcoal-1;
    border-color: $fhi-charcoal-1;
    color: $fhi-white;

    &:hover {
        border-color: transparent;
    }
}
