.fhi-btn-icon {
    background-color: $fhi-white;
    border-radius: $fhi-px * 22;
    padding-right: $fhi-space-3;
    padding-left: $fhi-space-3;

    &:focus,
    &:hover {
        border-color: transparent;
        text-decoration: none;
    }
}
