.fhi-btn-shortcut {
    @include fhi-btn($fhi-white);
    padding-right: $fhi-space-4;
    padding-left: $fhi-space-2;
    
    [class*="icon-"] {
        filter: $fhi-red-filter;
    }
}


.fhi-btn-shortcut-link {
    color: $fhi-charcoal-1;
    padding-left: $fhi-space-2;
    padding-right: $fhi-space-2;

    &:hover {
        background-color: transparent;
        border-color: transparent;
    }
}


.fhi-btn-shortcut,
.fhi-btn-shortcut-link {
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}
