.fhi-btn-flat {
    @include fhi-btn(transparent, transparent, $inline-link-color, $fhi-font-family-sans-serif-regular);
    text-decoration: underline;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $fhi-red-2;
    }
}
