.fhi-accordion-flush .accordion-button {
    &::before {
        background-color: $fhi-core-charcoal-1;
    }

    &::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns:v="https://vecta.io/nano"><path d="M1.646 4.646a.5.5 0 0 1 .707 0L8 10.293l5.646-5.646a.5.5 0 1 1 .707.707l-6 6a.5.5 0 0 1-.707 0l-6-6a.5.5 0 0 1 0-.707z" fill="#{$fhi-core-white}"/></svg>');
    }
    
    &:hover {
        &::before {
            background-color: $fhi-core-pink-light-2;
        }
    
        &::after {
            background-image: var(--bs-accordion-btn-icon);
        }
    }
}
