.fhi-app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    &__main-content {
        display: flex;
        flex-grow: 1;
        padding: 0;

        > *:not(router-outlet) {
            display: flex;
            flex-basis: 100%;
            width: 100%;
        }
    }
}

@include media-breakpoint-up(sm) {
    .fhi-app {
        padding-right: $fhi-core-space-3;
        padding-left: $fhi-core-space-3;
    }
}
