.fhi-footer {
    &__container {
        border-top: 1px solid $border-color;
        margin-top: $fhi-core-space-3;
        padding-top: $fhi-core-space-4;
        padding-bottom: $fhi-core-space-4;
        position: relative;
    }
}

.fhi-footer--arch {
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
        background-color: $fhi-core-red-1;
        content: '';
        position: absolute;
    }

    &::before {
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        height: $fhi-core-px * 214;
        left: -14%;
        top: $fhi-core-space-3;
        width: 120%;
    }

    &::after {
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        top: ($fhi-core-space-6 * 2);
        transition: all 0.2s;
    }

    a:not([class]) {
        color: currentColor;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
    }

    .fhi-footer__container {
        border-top: 0;
        max-width: map-get($container-max-widths, 'lg');
        padding-top: $fhi-core-space-7;
        z-index: 1;
    }
}

@include media-breakpoint-up(xl) {
    .fhi-footer--arch {
        &::before {
            left: -5%;
            height: $fhi-core-px * 380;
            width: 108%;
        }

        &::after {
            top: $fhi-core-px * 147;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .fhi-footer--arch {
        &::before {
            left: -2%;
            height: $fhi-core-px * 492;
            width: 104%;
        }

        &::after {
            top: $fhi-core-px * 200;
        }
    }
}
