.fhi-nav-tabs:not(.fhi-main-menu__nav) {
    .nav-link.active,
    .tab-content {
        background-color: $fhi-core-blue-grey-2;
    }

    .tab-content {
        padding-top: $fhi-core-space-5;
        padding-right: $fhi-core-space-3;
        padding-bottom: $fhi-core-space-3;
        padding-left: $fhi-core-space-3;
    }
}
