.fhi-tag {
    background-color: $fhi-core-white;
    border: 1px solid transparent;
    border-radius: $fhi-core-px * 18;
    display: inline-block;
    font-size: $fhi-core-font-size-2;
    font-family: $fhi-core-font-family-sans-serif-regular;
    line-height: $fhi-core-px * 22;
    min-height: $fhi-core-px * 36;
    padding: ($fhi-core-px * 6) ($fhi-core-px * 12);
    transition: background-color .15s ease-in-out;
}

a.fhi-tag,
button.fhi-tag {
    text-decoration: none;

    &,
    &:hover {
        color: $body-color;
    }

    &:hover {
        background-color: $fhi-core-pink-light-2;
    }
}


.fhi-tag--category {
    border-color: $fhi-core-grey-4;

    [class*="icon"] {
        background-position: left center;
        filter: $fhi-core-red-filter;
        height: $fhi-core-px * 16;
        position: relative;
        top: $fhi-core-px * 2;
        transition: filter .15s;
    }
}

a.fhi-tag--category {
    &:hover {
        [class*="icon"] {
            filter: none;
        }
    }
}


.fhi-tag--filter-option {
    border: 1px dashed $fhi-core-charcoal-1;
    padding-right: $fhi-core-space-6;
    position: relative;

    [class*="icon-"] {
        background-size: $fhi-core-px * 20;
        height: $fhi-core-px * 16;
        position: absolute;
        right: calc(#{$fhi-core-space-2 + $fhi-core-space-1});
        top: 50%;
        transform: translateY(-50%);
        width: $fhi-core-px * 16;
    }
}


.fhi-tag--state-dot {
    border: 1px solid $fhi-core-grey-4;

    &__icon {
        margin-top: ($fhi-core-space-1 * -1);
        margin-right: $fhi-core-space-1;
        vertical-align: middle;
    }

    &__icon--off {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjkiIGZpbGw9IiNkZTI5NjgiLz48cGF0aCBkPSJNOSAxNkE3IDcgMCAxIDEgOSAyYTcgNyAwIDEgMSAwIDE0em0wIDFBOCA4IDAgMSAwIDkgMWE4IDggMCAxIDAgMCAxNnpNNS42NDYgNS42NDZhLjUuNSAwIDAgMSAuNzA3IDBMOSA4LjI5M2wyLjY0Ni0yLjY0NmEuNS41IDAgMSAxIC43MDcuNzA3TDkuNzA3IDlsMi42NDYgMi42NDZhLjUuNSAwIDEgMS0uNzA3LjcwN0w5IDkuNzA3bC0yLjY0NiAyLjY0NmEuNS41IDAgMSAxLS43MDctLjcwN0w4LjI5MyA5IDUuNjQ2IDYuMzU0YS41LjUgMCAwIDEgMC0uNzA3eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
    }

    &__icon--info {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjkiIGZpbGw9IiMwMDY3YzQiLz48cGF0aCBkPSJNOSAxNkE3IDcgMCAxIDEgOSAyYTcgNyAwIDEgMSAwIDE0em0wIDFBOCA4IDAgMSAwIDkgMWE4IDggMCAxIDAgMCAxNnptLjkzMS05LjQxMmwtMi4yOTEuMjg3LS4wODIuMzgxLjQ1MS4wODJjLjI5My4wNy4zNTIuMTc2LjI4Ny40NjlsLS43MzggMy40NjljLS4xOTMuODk3LjEwNSAxLjMxOC44MDkgMS4zMTguNTQ1IDAgMS4xNzgtLjI1MiAxLjQ2NS0uNTk4bC4wODgtLjQxNmMtLjE5OS4xNzYtLjQ5Mi4yNDYtLjY4Ni4yNDYtLjI3NSAwLS4zNzUtLjE5My0uMzA1LS41MzNsMS4wMDItNC43MDV6TTEwIDUuNWExIDEgMCAxIDEtMiAwIDEgMSAwIDEgMSAyIDB6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
    }

    &__icon--on {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjkiIGZpbGw9IiMwNGFiNzkiLz48cGF0aCBkPSJNOSAxNkE3IDcgMCAxIDEgOSAyYTcgNyAwIDEgMSAwIDE0em0wIDFBOCA4IDAgMSAwIDkgMWE4IDggMCAxIDAgMCAxNnptMi45Ny0xMS4wM2wtLjAyLjAyMi0zLjQ3MiA0LjQyNS0yLjA5NC0yLjA5M2EuNzUuNzUgMCAwIDAtMS4wNjEgMS4wNjFMNy45NyAxMi4wM2EuNzUuNzUgMCAwIDAgMS4wNjEgMGMuMDA3LS4wMDcuMDEzLS4wMTMuMDE4LS4wMjFsMy45OTItNC45OWEuNzUuNzUgMCAwIDAtMS4wNzEtMS4wNXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
    }

    &__icon--warning {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjkiIGZpbGw9IiNmN2I2NjUiLz48cGF0aCBkPSJNOSAxNkE3IDcgMCAxIDEgOSAyYTcgNyAwIDEgMSAwIDE0em0wIDFBOCA4IDAgMSAwIDkgMWE4IDggMCAxIDAgMCAxNnptLS45OTgtNWExIDEgMCAwIDEgMiAwIDEgMSAwIDAgMS0yIDB6TTguMSA1Ljk5NUM4LjA0NiA1LjQ2MiA4LjQ2NSA1IDkgNXMuOTU0LjQ2Mi45Ljk5NWwtLjM1IDMuNTA3QzkuNTIyIDkuNzg1IDkuMjg0IDEwIDkgMTBzLS41MjItLjIxNS0uNTUtLjQ5OEw4LjEgNS45OTV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
    }
}
