@mixin interactive-state() {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.fhi-tag {
    background-color: $fhi-core-white;
    border: 1px solid transparent;
    border-radius: $fhi-core-px * 18;
    display: inline-block;
    font-size: $fhi-core-font-size-2;
    font-family: $fhi-core-font-family-sans-serif-regular;
    line-height: $fhi-core-px * 22;
    min-height: $fhi-core-px * 36;
    padding: ($fhi-core-px * 6) ($fhi-core-px * 12);
    transition: background-color .15s ease-in-out;
}

a.fhi-tag,
button.fhi-tag {
    text-decoration: none;

    &,
    &:hover {
        color: $body-color;
    }

    &:hover {
        background-color: $fhi-core-pink-light-2;
    }

    &[class*="text-bg-"] {
        @include interactive-state();

        &:hover {
            text-decoration: none;
        }
    }
}


.fhi-tag--category {
    border-color: $fhi-core-grey-4;

    [class*="icon"] {
        background-position: left center;
        filter: $fhi-core-red-filter;
        height: $fhi-core-px * 16;
        position: relative;
        top: $fhi-core-px * 2;
        transition: filter .15s;
    }
}

a.fhi-tag--category {
    &:hover {
        [class*="icon"] {
            filter: none;
        }
    }
}


.fhi-tag--filter-option {
    border: 1px dashed $fhi-core-charcoal-1;
    padding-right: $fhi-core-space-6;
    position: relative;

    [class*="icon-"] {
        background-size: $fhi-core-px * 20;
        height: $fhi-core-px * 16;
        position: absolute;
        right: calc(#{$fhi-core-space-2 + $fhi-core-space-1});
        top: 50%;
        transform: translateY(-50%);
        width: $fhi-core-px * 16;
    }
}


.fhi-tag--state-dot {
    border: 1px solid $fhi-core-grey-4;

    &__icon {
        &--info {
            @extend .icon-info-circle-fill;
            filter: $fhi-core-blue-filter;
        }

        &--off {
            @extend .icon-x-circle-fill;
            filter: $fhi-core-pink-filter;
        }

        &--on {
            @extend .icon-check-circle-fill;
            filter: $fhi-core-green-filter;
        }

        &--warning {
            @extend .icon-exclamation-circle-fill;
            filter: $fhi-core-orange-filter;
        }
    }

    &__text {
        @include interactive-state();
    }
}


[class*="fhi-tag--state-dot__icon"] {
    @extend .icon-sm;
    background-size: $fhi-core-px * 12;
    border: $fhi-core-px solid;
    border-radius: 1em;
    margin-top: ($fhi-core-space-1 * -1);
    margin-right: $fhi-core-space-1;
    vertical-align: middle;
}
