/**
  * px to rem utility
  */

$fhi-core-px: 0.0625rem;


/**
  * Spacing
  * - used for margin, padding, and also height and width
  */
 
$fhi-core-space-1: $fhi-core-px *  4; // xxs
$fhi-core-space-2: $fhi-core-px *  8; // xs
$fhi-core-space-3: $fhi-core-px * 16; // sm
$fhi-core-space-4: $fhi-core-px * 24; // md
$fhi-core-space-5: $fhi-core-px * 32; // lg
$fhi-core-space-6: $fhi-core-px * 40; // xl
$fhi-core-space-7: $fhi-core-px * 56; // xxl
 
 
/**
  * Grid
  */
 
$fhi-core-container-padding-xxs: $fhi-core-space-2;
$fhi-core-container-padding-xs: $fhi-core-space-3;
 
 
/**
  * Typography
  */
 
$fhi-core-font-size-1: $fhi-core-px * 15;
$fhi-core-font-size-2: $fhi-core-px * 17;
$fhi-core-font-size-3: $fhi-core-px * 19;
$fhi-core-font-size-4: $fhi-core-px * 22;
$fhi-core-font-size-5: $fhi-core-px * 25;
$fhi-core-font-size-6: $fhi-core-px * 30;
$fhi-core-font-size-7: $fhi-core-px * 36;
$fhi-core-font-size-8: $fhi-core-px * 44;
$fhi-core-font-size-9: $fhi-core-px * 70;

$fhi-core-h1-font-size-xs:  $fhi-core-font-size-8;
$fhi-core-h1-font-size-lg:  $fhi-core-font-size-9; // h1 larger on desktop
$fhi-core-h2-font-size-xs:  $fhi-core-font-size-7;
$fhi-core-h3-font-size-xs:  $fhi-core-font-size-6;
$fhi-core-h4-font-size-xs:  $fhi-core-font-size-5;
$fhi-core-h5-font-size-xs:  $fhi-core-font-size-4;

$fhi-core-small-font-size-xs:  $fhi-core-font-size-1;
$fhi-core-default-font-size-xs:  $fhi-core-font-size-3;
$fhi-core-default-font-size-lg:  $fhi-core-font-size-2; // body text smaller on desktop
$fhi-core-lead-font-size-xs:  $fhi-core-font-size-3;

$fhi-core-font-family-serif-regular: 'CrimsonText Regular', serif;
$fhi-core-font-family-serif-regular-italic: 'CrimsonText Regular Italic', serif;
$fhi-core-font-family-serif-medium: 'CrimsonText Semi Bold', serif;
$fhi-core-font-family-serif-medium-italic: 'CrimsonText Semi Bold Italic', serif;
$fhi-core-font-family-serif-bold: 'CrimsonText Bold', serif;
$fhi-core-font-family-serif-bold-italic: 'CrimsonText Bold Italic', serif;

$fhi-core-font-family-sans-serif-regular: 'BrandonText Regular', 'SourceSansPro Regular', sans-serif;
$fhi-core-font-family-sans-serif-regular-2: 'SourceSansPro Regular', sans-serif;
$fhi-core-font-family-sans-serif-regular-2-bold: 'SourceSansPro Bold', sans-serif;
$fhi-core-font-family-sans-serif-regular-italic: 'BrandonText Regular Italic', 'SourceSansPro Regular Italic', sans-serif;
$fhi-core-font-family-sans-serif-medium: 'BrandonText Medium', 'SourceSansPro Semi Bold', sans-serif;
$fhi-core-font-family-sans-serif-medium-italic: 'BrandonText Medium Italic', 'SourceSansPro Semi Bold Italic', sans-serif;
$fhi-core-font-family-sans-serif-bold: 'BrandonText Bold', 'SourceSansPro Bold', sans-serif;
$fhi-core-font-family-sans-serif-bold-italic: 'BrandonText Bold Italic', 'SourceSansPro Bold Italic', sans-serif;
 
 
/**
  * All colors used by FHI
  */
 
$fhi-core-white: white;
 
$fhi-core-grey-light-1: #fbfbfb;
$fhi-core-grey-light-2: #f7f6f5;
$fhi-core-grey-light-3: #f0edeb;
$fhi-core-grey-light-4: #e0dddb;

$fhi-core-grey-1: #cfd0cb;
$fhi-core-grey-2: #9f9f9f;
$fhi-core-grey-3: #767676;
$fhi-core-grey-4: #222222;

$fhi-core-charcoal-1: #333841;

$fhi-core-blue-grey-1: #f5f8fa;
$fhi-core-blue-grey-2: #edf4f7;
$fhi-core-blue-grey-3: #dbe6ec;
$fhi-core-blue-grey-4: #cbd9df;
$fhi-core-blue-grey-5: #afc0c7;
$fhi-core-blue-grey-6: #879ba5;
$fhi-core-blue-grey-7: #435c68;

$fhi-core-blue-1: #0067c4;
$fhi-core-blue-2: #0e4485;
$fhi-core-blue-3: #393c61;

$fhi-core-green-1: #cceee4;
$fhi-core-green-2: #04ab79;

$fhi-core-yellow-1: #fffdce;

$fhi-core-orange-1: #feeed9;
$fhi-core-orange-2: #f7b665;

$fhi-core-red-1: #f86559;
$fhi-core-red-2: #d14641;
$fhi-core-red-3: #9f2b26;

$fhi-core-pink-dark-1: #de2968;

$fhi-core-pink-light-1: #faedec;
$fhi-core-pink-light-2: #fad1cd;
$fhi-core-pink-light-3: #fba39b;


/**
  * Forms
  */
$fhi-core-input-height-xs: $fhi-core-px * 48;
$fhi-core-input-height-lg: $fhi-core-px * 40;
