.fhi-header {
    margin-bottom: $fhi-space-6;

    &__brand {
        padding: $fhi-brand-padding-top-xs 0 $fhi-brand-padding-bottom-xs;
    }
    &__brand-container {
        display: block;
        color: $body-color;
        font-size: $fhi-font-size-2;
        position: relative;
        height: $fhi-brand-container-height;
        text-decoration: none;

        &:hover {
            color: $body-color;
            text-decoration: none;
        }
    }
    &__brand-content {
        margin-left: $fhi-container-padding-xs;
        max-width: calc(100% - #{$fhi-px * 100});
        z-index: 1;
    }
    &__logo {
        display: inline-block;
        width: $fhi-px * 82;
        height: $fhi-brand-container-height;
    }
    &__logo-gfx {
        background-size: contain;
        height: 100%;
        vertical-align: bottom;
        width: 100%;
    }
    &__project {
        display: none;
    }
    &__utility-menu {
        display: none;
    }
    &__utility-menu-container {
        position: relative;
    }
    &__main-content {
        margin-bottom: $fhi-space-7;
    }
}

@include media-breakpoint-down(lg) {
    .fhi-header {
        &__brand-content {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    .fhi-header {
        &__brand-content {
            margin-left: unset;
        }
        &__logo {
            margin-right: $fhi-space-5;
        }
        &__project {
            border-left: 2px solid $fhi-red-1;
            display: inline-block;
            font-size: $fhi-font-size-5;
            line-height: 0.92;
            height: $fhi-project-height-xl;
            padding-left: $fhi-space-3;
            vertical-align: bottom;
        }
        &__project-name {
            display: inline-block;
            font-family: $fhi-font-family-sans-serif-medium;
        }
        &__project-name,
        &__project-description {
            vertical-align: middle;
        }
        &__project-description {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    .fhi-header {
        &__project-description {
            display: inline-block;
            font-family: $fhi-font-family-sans-serif-regular;
        }
    }
}

@include media-breakpoint-up(xl) {
    .fhi-header {
        &__brand {
            padding: $fhi-brand-padding-top-xl 0 0;
        }
        &__brand-container {
            border-bottom: 1px solid $border-color;
            height: calc(#{$fhi-brand-container-height + $fhi-brand-padding-bottom-xl});
            padding-bottom: $fhi-brand-padding-bottom-xl;
            padding-left: 0;
        }
        &__utility-menu {
            display: block;
        }
        &__utility-menu-content {
            position: absolute;
            top: - $fhi-main-menu-height-xl
                 - $fhi-brand-padding-bottom-xl
                 - $fhi-project-height-xl;
            right: $fhi-container-padding-sm;
            height: $fhi-project-height-xl;
        }
        &__main-menu-container {
            border-bottom: 1px solid $border-color;
            padding-right: 0;
            padding-left: 0;
        }
    }
}
